<!DOCTYPE html>
<html>
<head>
    <title>API Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    {#    <link rel="icon" type="image/ico" href="static/favicon.ico">#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {#    <script src="{{ url_for('static', filename='api-interface.js') }}"></script>#}
</head>
<body>
<div class="container-fluid">
    <h1 class="mt-5">Filter and Paginate Fr Potato API Data</h1>

    <div id="results" class="mt-2 mb-5">
        <div class="alert alert-danger mt-3" id="errorAlert" style="display: none;"></div>

        <a href="{{ url_for('search') }}">Advanced search form</a>

        <table id="data-table" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Province</th>
                <th>District</th>
                <th>AEZ</th>
                <th>Season</th>
                <th>Lat/Lon</th>
                <th>Urea</th>
                <th>DAP</th>
                <th>NPK</th>
                <th>Current yield</th>
                <th>Expected yield</th>
                <th>Total Fertilizer Cost</th>
                <th>Net Revenue</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Include jQuery and Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ url_for('static', filename='api-interface.js') }}"></script>
</body>
</html>
